/* Layout */

body {
    background: url(/img/spotify/capa.png), url(/img/spotify/ruido.png), linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
}

nav.transparente {
    background: rgba(0, 0, 0, .6);
    padding: 15px 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, .5);
}

.divisor {
    width: 1px;
    background: white;
    margin: 12px 15px;
}